/* FONTS
    font-family: 'Inconsolata', monospace;
    font-family: 'Nunito', sans-serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
 */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2a2a2a;
}

/* NAVIGATION */
#main-title {
	position: sticky;
	background-color: #222f3e;
	height: 60px;
	top: 0;
	z-index: 2;
	width: 200%;
}

#main-title h3 {
	font-size: 20px;
	padding-top: 15px;
	padding-right: 30px;
	text-align: right;
	overflow: hidden;
	font-family: 'Open Sans Condensed', sans-serif;
}

#main-title h3 a {
	text-decoration: none;
	color: white;
}

#main-title h3 a:hover {
	color: #ecf0f1b0;
}

#side-nav {
	font-family: 'Open Sans Condensed', sans-serif;
	height: 100%;
	width: 120px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #34495e;
	overflow-x: hidden;
	padding-top: 20px;
}

#side-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	margin-top: 50px;
}

#side-nav li a {
	display: block;
	color: white;
	padding: 10px 10px;
	text-decoration: none;
}

#side-nav li a:hover {
	color: #ecf0f1b0;
}

#side-nav ul li ul{
	list-style-type: none;
	margin-top: 0;
}

#side-nav ul li ul a{
	padding-left: 15px;
	margin-top: -10px;
	font-size: 12px;
	color: #ecf0f1b0;
}

#side-nav ul li ul a:hover{
	color: white;
}

/* DATA TABLE */
table {
	font-size: 12px;
	border-collapse: collapse;
	width: 100%;
	color: #a4b0be;
}

td,
th {
	border: .5px dotted #a4b0be;
	text-align: left;
	padding: 8px;
}

td a {
	text-decoration: none;
	color: #a4b0be;
}

tr:nth-child(even) {
	background-color: #34495e;
}

#content {
	font-family: 'Crimson Text', serif;
	margin-left: 135px;
	margin-top: 30px;
}

/* D3 STYLING */

/* ==> D3 - SCATTERPLOT */
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: 'Crimson Text', serif;
	font-size: 10px;
}

.dot {
	stroke: white;
}

.tooltip {
	position: absolute;
	width: 200px;
	height: 60px;
	pointer-events: none;
	font-size: 10px;
	background-color: white;
}

.tooltip p {
	padding: 3px;
}

.line {
	stroke: #c0392b;
	stroke-opacity: 0.6;
	stroke-dasharray: 5;
}

/* ==> D3 - IMAGES */
#plot_image {
	width: auto;
	height: 365px;
	padding: 17px;
}

#grid_image {
	width: auto;
	height: 250px;
	margin: 10px;
}


/* ==> D3 - BAR CHART */

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: #02feb3;
}

.bar--positive {
	fill: steelblue;
}

.bar--negative {
	fill: darkorange;
}


/* DASHBOARD ROWS */

.db_row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 10px;
}

.db_row div {
	background-color: white;
	padding: 10px;
	margin: 10px;
	height: auto;
}

.db_row h1 {
	font-size: 15px;
	text-align: center;
}

/* DOCUMENTATION */
#about {
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

#about h1 {
	padding-top: 10px;
	text-align: center;
}

#about p {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	padding: 10px;
}

/* 	DOWNLOAD BUTTONS */
.inputBox{
	padding: 5px 10px;
}

.btn {
	background-color:#1fc98c;
	border: none;
	color: white;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 12px;
	font-family: 'Nunito', sans-serif;
  }

  .btn a{
	  text-decoration: none;
	  color: white;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: #26b78c;
  }


