{% extends "viz/index.html" %}
{% load static %}
{% block content %}
    <div id="content">
       <div id="about">
            <h1>Documentation</h1>
            <p>These are the results of a interpretable model built on Apple paid social image data that predicts CTR for each image. The results of the model show relative positive importance of each feature. Any feature with _col appended to the end of the name is a color and any feature with a _lab appended to the end is a label.</p>
       </div>
    </div> 
{% endblock %}