{% extends "viz/index.html" %}

{% block content %}
    <div id="content">
        {% if img %}
            <table>
                <tr>
                    <th>Image Name</th>
                    <th>Click Through Rate</th>
                    <th>Black X</th>
                    <th>Text</th>
                    <th>Girl</th>
                    <th>Headwear</th>
                    <th>Poster</th>
                    <th>Fun</th>
                    <th>Skyblue</th>
                </tr>
            {% for x in img %}
                <tr>
                    <td>{{x.image_name}}</td>
                    <td>{{x.ctr|floatformat:"2"}}</td>
                    <td>{{x.black_x|floatformat:"2"}}</td>
                    <td>{{x.text|floatformat:"2"}}</td>
                    <td>{{x.girl|floatformat:"2"}}</td>
                    <td>{{x.headwear|floatformat:"2"}}</td>
                    <td>{{x.poster|floatformat:"2"}}</td>
                    <td>{{x.fun|floatformat:"2"}}</td>
                    <td>{{x.skyblue|floatformat:"2"}}</td>
                </tr>

            {% endfor %}
            </table>
        {% else %}
            <p>there is no</p>
        {% endif%}    
    </div> 
{% endblock %}